.user-block {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: hotpink;
  color: #fff;

  box-sizing: border-box;
  padding-left: 10px;

  img {
    width: 20px;
    height: 20px;

    border-radius: 50%;
  }

  span {
    margin-left: 10px;
    text-align: center;
  }
}
